include components/labels/labels.pug
include components/sliders/sliders.pug
include components/cards/cards.pug

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content='')
meta(name='author', content='')
link(rel="icon" href="images/favicon-1-32x32.png" sizes="32x32")
link(rel="icon" href="images/favicon-1-192x192.png" sizes="192x192")
link(rel="icon" href="images/favicon-1-180x180.png" sizes="180x180")
link(href='css/my-theme.css', rel='stylesheet')
script(src="https://kit.fontawesome.com/d855224b6a.js" crossorigin="anonymous")
title Indian Foodie