mixin heroSlider()
    .hero-slider&attributes(attributes)
        .slide.slide--02
            .slide__content-container
                h1 Unique heavenly spices
                p Our Spices are the best option for you outside India, we prepare them with top ingredients.
                button.button.button--slide Visit our spice market
        .slider-page-indicator
            button(alt="Go to slider page #1").button--page-indicator
            button(alt="Slider Page #2 active").button--page-indicator.button--page-indicator--active
            button(alt="Go to slider page #3").button--page-indicator
            button(alt="Go to slider page #4").button--page-indicator
        button.button--slider-arrow.button--slider-arrow--left
            i.fas.fa-chevron-left
        button.button--slider-arrow.button--slider-arrow--right
            i.fas.fa-chevron-right