mixin card--basic(imageUrl, cardTitle, labelIcon01, labelText01, labelIcon02, labelText02, cardDescription, cardLink)
    .card&attributes(attributes)
        .card-image(style={'background-image': 'url("'+imageUrl+'")'})
        .card-content
            .card-title-container
                .card-title= cardTitle
                .label-container
                    +label(labelIcon01, labelText01)
                    +label(labelIcon02, labelText02)
            .card-description
                span= cardDescription
            a(href="#").link.link--card= cardLink

mixin grid-4--card--basic()
    .card-container
        +card--basic("images/food02.png",
            "Pork & lentil curry with naan bread",
            "fas fa-fire",
            "1,200 cal",
            "fas fa-clock",
            "1h 20m",
            "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
            "Pork & beans Curry Recipe")

        +card--basic("images/food01.png",
            "Chickpea summer salad",
            "fas fa-fire",
            "450 cal",
            "fas fa-clock",
            "40m",
            "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
            "Chickpea sumer salad Recipe")

        +card--basic("images/dessert02.png",
            "Cardamom & date khoya Ice cream",
            "fas fa-fire",
            "530 cal",
            "fas fa-clock",
            "2h 50m",
            "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
            "Khoya ice cream Recipe")

        +card--basic("images/food04.png",
            "Pork & beans curry meatballs",
            "fas fa-fire",
            "610 cal",
            "fas fa-clock",
            "1h 40m",
            "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
            "Pork & beans curry meatballs Recipe")

mixin card--vertical(imageUrl, cardTitle, caloriesText, caloriesColor, cardLink)
    .card--vertical&attributes(attributes)
        .card-image(style={'background-image': 'url("'+imageUrl+'")'})
        .card-content
            .card-title-container
                .card-title= cardTitle
            .calorie-meter(class=caloriesColor)
                span.calorie-meter__text= caloriesText
                .meter__icons
                    i.meter__icon.meter__icon--on.fas.fa-fire
                    i.meter__icon.fas.meter__icon--on.fa-fire
                    i.meter__icon.fas.fa-fire
                    i.meter__icon.fas.fa-fire
                    i.meter__icon.fas.fa-fire
            a(href="#").link.link--card= cardLink

mixin grid-3--card--vertical()
    .card-container.card-container--3
        +card--vertical("images/dessert01.png",
            "Exotic fruits salad with cinnamon",
            "105 calories",
            "meter--success",
            "View Recipe")
            
        +card--vertical("images/dessert02.png",
            "Masala Chai Yogurt",
            "105 calories",
            "meter--warning",
            "View Recipe")
            
        +card--vertical("images/dessert03.png",
            "Cardamom & date khoya Ice cream",
            "105 calories",
            "meter--danger",
            "View Recipe")