html(lang='en')
    head
        include ../../head-for-previews.pug
    body
        h3 Basic Card
        <!-- Component starts here -->
        +card--basic("../../../images/food02.png",
            "Pork & lentil curry with naan bread",
            "fas fa-fire",
            "1,200 cal",
            "fas fa-clock",
            "1h 20m",
            "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
            "Pork & beans Curry Recipe")
        <!-- Component Ends here -->
        .section-separator
        h3 Basic Card Grid
        <!-- Component starts here -->
        .card-container
            +card--basic("../../../images/food02.png",
                "Pork & lentil curry with naan bread",
                "fas fa-fire",
                "1,200 cal",
                "fas fa-clock",
                "1h 20m",
                "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
                "Pork & beans Curry Recipe")

            +card--basic("../../../images/food01.png",
                "Chickpea summer salad",
                "fas fa-fire",
                "450 cal",
                "fas fa-clock",
                "40m",
                "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
                "Chickpea sumer salad Recipe")

            +card--basic("../../../images/dessert02.png",
                "Cardamom & date khoya Ice cream",
                "fas fa-fire",
                "530 cal",
                "fas fa-clock",
                "2h 50m",
                "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
                "Khoya ice cream Recipe")

            +card--basic("../../../images/food04.png",
                "Pork & beans curry meatballs",
                "fas fa-fire",
                "610 cal",
                "fas fa-clock",
                "1h 40m",
                "Our Spices are the best option for you outside India, we prepare them with top ingredients. Our Spices...",
                "Pork & beans curry meatballs Recipe")
        <!-- Component Ends here -->
        .section-separator
        h3 Card Vertical
        .col-50
            <!-- Component starts here -->
            +card--vertical("../../../images/dessert02.png",
                "Masala Chai Yogurt",
                "105 calories",
                "meter--warning",
                "View Recipe")
            <!-- Component Ends here -->
        .section-separator
        h3 Vertical Card Grid
        <!-- Component starts here -->
        .card-container.card-container--3
            +card--vertical("../../../images/dessert01.png",
                "Exotic fruits salad with cinnamon",
                "105 calories",
                "meter--success",
                "View Recipe")
                
            +card--vertical("../../../images/dessert02.png",
                "Masala Chai Yogurt",
                "105 calories",
                "meter--warning",
                "View Recipe")
                
            +card--vertical("../../../images/dessert03.png",
                "Cardamom & date khoya Ice cream",
                "105 calories",
                "meter--danger",
                "View Recipe")
        <!-- Component Ends here -->