@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
/* Reboot Codes - Based on normalize.css v5.0.0
**********************/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

span {
  display: inline;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #334652;
  background-color: #f9f9fa;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  color: #0275d8;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role=button] {
  cursor: pointer;
}

a,
area,
button,
[role=button],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type=radio]:disabled,
input[type=checkbox]:disabled {
  cursor: not-allowed;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type=search] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

[hidden] {
  display: none !important;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E8E8E8;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flexrow .align-to-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flexrow .align-to-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flexrow .align-to-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-100, .col-50 {
  position: relative;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.col-100:first-of-type, .col-50:first-of-type {
  padding-left: 0px;
}
.col-100:last-of-type, .col-50:last-of-type {
  padding-right: 0px;
}
.col-100 .align-to-left, .col-50 .align-to-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.col-100 .align-to-right, .col-50 .align-to-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.col-100 .align-to-center, .col-50 .align-to-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-50 {
  width: 50%;
}

.show--desktop-up {
  display: none;
}
@media only screen and (min-width: 1360px) {
  .show--desktop-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.fullwidth {
  width: 100%;
}

h1 {
  font-family: "Merienda", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -2px;
  color: #f5bc00;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -1.2px;
  }
}
@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 5.75rem;
    line-height: 6.5rem;
    letter-spacing: -6px;
  }
}

h2 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Merienda", sans-serif;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: -0.5px;
  padding: 0px 8px;
  color: #272D50;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2.125rem;
    line-height: 2.75rem;
    letter-spacing: -1px;
    padding: 0px 16px;
  }
}
@media only screen and (min-width: 1440px) {
  h2 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -1.5px;
  }
}

h3 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: auto;
  padding: 0px;
  padding-left: 16px;
  color: #272D50;
  text-align: left;
  margin-bottom: 24px;
}
h3::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 3px;
  border-radius: 48px;
  background: #343c6b;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding-left: 16px;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    padding-left: 24px;
    margin-bottom: 32px;
  }
  h3::before {
    width: 4px;
  }
}

h4 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: auto;
  padding: 0px;
  padding-left: 16px;
  color: #272D50;
  text-align: left;
  margin-bottom: 24px;
}
h4::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 3px;
  border-radius: 48px;
  background: #343c6b;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding-left: 16px;
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  h4 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    padding-left: 24px;
    margin-bottom: 32px;
  }
  h4::before {
    width: 4px;
  }
}

p, .text--normal {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #2A292E;
  text-align: justify;
}
@media only screen and (min-width: 768px) {
  p, .text--normal {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  p, .text--normal {
    font-size: 1.5rem;
  }
}

.link {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  color: #7B172A;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media only screen and (min-width: 768px) {
  .link {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1440px) {
  .link {
    font-size: 1.5rem;
  }
}

.h2-container {
  max-width: 100%;
  margin: 0px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) {
  .h2-container {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .h2-container {
    margin-bottom: 40px;
  }
}
.h2-container:before, .h2-container:after {
  content: "";
  height: 2px;
  width: 100%;
  left: 0px;
  top: calc(50% - 1px);
  border-radius: 8px;
  background-color: #272D50;
}

button {
  cursor: pointer;
}

.button {
  background: #9d1d36;
  border: 1px solid #CC9D00;
  border-radius: 8px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  height: 40px;
  padding: 0px 16px;
  color: #FFF;
  text-decoration: underline;
  -webkit-transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
@media only screen and (min-width: 1360px) {
  .button {
    font-size: 1.125rem;
    height: 48px;
  }
}
.button:hover, .button:focus, .button:active {
  background: #272D50;
}

.text-block {
  width: 100%;
  margin: 0px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .text-block {
    margin-bottom: 56px;
  }
}
@media only screen and (min-width: 1440px) {
  .text-block {
    margin-bottom: 80px;
  }
}

.img--responsive {
  position: absolute;
  width: 90%;
  max-width: 90%;
  height: calc(100% - 96px);
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto;
}

.hero-slider {
  width: 100%;
  position: relative;
}
.hero-slider .slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 400px;
  max-height: 80vh;
  background-color: #272D50;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 24px;
  padding-top: 48px;
  color: #FFF;
}
.hero-slider .slide.slide--02 {
  background-image: radial-gradient(circle at bottom left, #272D50 50%, rgba(39, 45, 80, 0) 100%), url("../images/Banner02.png");
}
@media only screen and (min-width: 768px) {
  .hero-slider .slide {
    padding: 48px;
    padding-top: 64px;
  }
}
@media only screen and (min-width: 1360px) {
  .hero-slider .slide {
    padding-left: 160px;
    padding-right: 160px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-slider .slide {
    padding: 160px;
    padding-top: 120px;
  }
}
.hero-slider .slide .slide__content-container h1 {
  width: 180px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-slider .slide .slide__content-container h1 {
    width: 250px;
    margin-bottom: 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-slider .slide .slide__content-container h1 {
    width: 688px;
    margin-bottom: 80px;
  }
}
.hero-slider .slide .slide__content-container p {
  color: #FFF;
  width: 240px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-slider .slide .slide__content-container p {
    width: 320px;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-slider .slide .slide__content-container p {
    width: 440px;
    margin-bottom: 48px;
  }
}
.hero-slider .slide .slide__content-container .button--slide {
  width: 240px;
  margin-bottom: 64px;
}
@media only screen and (min-width: 768px) {
  .hero-slider .slide .slide__content-container .button--slide {
    width: 320px;
    margin-bottom: 96px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-slider .slide .slide__content-container .button--slide {
    width: 440px;
    margin-bottom: 48px;
  }
}
.hero-slider .slider-page-indicator {
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (min-width: 768px) {
  .hero-slider .slider-page-indicator {
    bottom: 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-slider .slider-page-indicator {
    bottom: 48px;
  }
}
.hero-slider .slider-page-indicator .button--page-indicator {
  width: 16px;
  height: 16px;
  background: rgba(244, 244, 244, 0.2);
  border: 1px solid #F4F4F4;
  border-radius: 50%;
  margin: 0px;
  margin-right: 8px;
  -webkit-transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hero-slider .slider-page-indicator .button--page-indicator:hover, .hero-slider .slider-page-indicator .button--page-indicator:focus, .hero-slider .slider-page-indicator .button--page-indicator:active {
  background: #a37e00;
  border: 1px solid #f5bc00;
}
.hero-slider .slider-page-indicator .button--page-indicator:last-of-type {
  margin-right: 0px;
}
.hero-slider .slider-page-indicator .button--page-indicator.button--page-indicator--active {
  width: 24px;
  height: 24px;
  background: #a37e00;
  border: 4px solid #f5bc00;
}
.hero-slider .button--slider-arrow {
  display: none;
  background: rgba(244, 244, 244, 0.05);
  color: #FFF;
  border: 1px solid #F4F4F4;
  border-radius: 8px;
  position: absolute;
  width: 48px;
  height: 80px;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  -webkit-transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.hero-slider .button--slider-arrow:hover, .hero-slider .button--slider-arrow:focus, .hero-slider .button--slider-arrow:active {
  background: #F4F4F4;
  color: #272D50;
}
.hero-slider .button--slider-arrow.button--slider-arrow--right {
  left: unset;
  right: 40px;
}
@media only screen and (min-width: 1360px) {
  .hero-slider .button--slider-arrow {
    display: block;
  }
}

.card {
  background-color: #FFF;
  border-radius: 8px;
  padding: 16px 24px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(39, 45, 80, 0.2), -6px -6px 12px 0px rgba(39, 45, 80, 0.05);
          box-shadow: 2px 2px 0px 0px rgba(39, 45, 80, 0.2), -6px -6px 12px 0px rgba(39, 45, 80, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.card .card-image {
  min-width: 120px;
  width: 30%;
  max-width: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -16px;
  margin-bottom: -16px;
  margin-left: -24px;
  margin-right: 24px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card .card-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card .card-content .card-title-container .card-title {
  position: relative;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #a37e00;
  padding-left: 16px;
  margin-bottom: 8px;
}
.card .card-content .card-title-container .card-title::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 3px;
  border-radius: 32px;
  background: #CC9D00;
}
.card .card-content .card-description {
  position: relative;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #2A292E;
  margin-bottom: 8px;
  text-align: justify;
}
.card .card-content .link.link--card {
  position: relative;
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: auto;
}
@media only screen and (min-width: 768px) {
  .card .card-image {
    min-width: 156px;
    width: 30%;
    max-width: 240px;
  }
  .card .card-content .card-title-container .card-title {
    font-size: 1.125rem;
  }
  .card .card-content .card-description {
    font-size: 0.875rem;
  }
  .card .card-content .link.link--card {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1440px) {
  .card .card-image {
    min-width: 180px;
    width: 30%;
    max-width: 240px;
  }
  .card .card-content .card-title-container .card-title {
    font-size: 1.5rem;
  }
  .card .card-content .card-description {
    font-size: 1rem;
  }
  .card .card-content .link.link--card {
    font-size: 1rem;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 1360px) {
  .card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.card-container .card {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .card-container .card {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1360px) {
  .card-container .card {
    width: calc(50% - 32px);
    margin-left: 32px;
    margin-bottom: 40px;
  }
  .card-container .card:nth-child(2n+1) {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .card-container .card {
    margin-left: 56px;
    margin-bottom: 56px;
  }
}

.card--vertical {
  background-color: #FFF;
  border-radius: 8px;
  padding: 16px 24px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(39, 45, 80, 0.2), -6px -6px 12px 0px rgba(39, 45, 80, 0.05);
          box-shadow: 2px 2px 0px 0px rgba(39, 45, 80, 0.2), -6px -6px 12px 0px rgba(39, 45, 80, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card--vertical .card-image {
  height: 144px;
  width: calc(100% + 48px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -16px;
  margin-bottom: -16px;
  margin-left: -24px;
  margin-right: -24px;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card--vertical .card-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -24px;
  margin-bottom: 0px;
  border-radius: 8px;
  background: #FFF;
  padding: 8px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.card--vertical .card-content .card-title-container .card-title {
  position: relative;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #2A292E;
  margin-bottom: 8px;
  text-align: center;
}
.card--vertical .card-content .link.link--card {
  position: relative;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .card--vertical .card-content {
    padding: 16px;
  }
  .card--vertical .card-content .card-title-container .card-title {
    font-size: 1rem;
  }
  .card--vertical .card-content .card-description {
    font-size: 0.875rem;
  }
  .card--vertical .card-content .link.link--card {
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1440px) {
  .card--vertical .card-content {
    padding: 24px;
  }
  .card--vertical .card-content .card-title-container .card-title {
    font-size: 1.25rem;
  }
  .card--vertical .card-content .card-description {
    font-size: 1rem;
  }
  .card--vertical .card-content .link.link--card {
    font-size: 1rem;
  }
}

.card-container--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .card-container--3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.card-container--3 .card--vertical {
  width: 100%;
  margin: 0;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .card-container--3 .card--vertical {
    width: calc(33.33% - 24px);
    margin-left: 24px;
    margin-bottom: 40px;
  }
  .card-container--3 .card--vertical:nth-child(3n+1) {
    margin-left: 0px;
  }
}

.label {
  position: relative;
  background: #F4F4F4;
  border: 1px solid #CC9D00;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #a37e00;
}
.label .label__icon {
  margin-right: 4px;
}
.label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}
.label-container .label {
  margin-right: 8px;
}
.label-container .label:last-of-type {
  margin-right: 0px;
}

.calorie-meter {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  color: #272D50;
  margin-bottom: 16px;
}
.calorie-meter .meter__icons .meter__icon {
  margin-left: 4px;
  opacity: 0.5;
}
.calorie-meter .meter__icons .meter__icon.meter__icon--on {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .calorie-meter {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .calorie-meter {
    font-size: 1.25rem;
  }
}
.calorie-meter.meter--success {
  color: #55A876;
}
.calorie-meter.meter--warning {
  color: #CC9D00;
}
.calorie-meter.meter--danger {
  color: #7B172A;
}

.form-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px;
  width: 100%;
}
.form-control .form-control__label {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #2A292E;
  margin-bottom: 4px;
}
.form-control .form-control__input {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 2.5rem;
  border-radius: 8px;
  border: 1px solid #a37e00;
  background: #FFF;
  height: 40px;
  padding: 4px 8px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-control {
    margin-bottom: 32px;
  }
  .form-control .form-control__label {
    font-size: 1rem;
    margin-bottom: 8px;
  }
  .form-control .form-control__input {
    height: 48px;
    font-size: 1rem;
    line-height: 3rem;
    padding: 8px 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .form-control {
    margin-bottom: 40px;
  }
  .form-control .form-control__label {
    font-size: 1.25rem;
  }
  .form-control .form-control__input {
    font-size: 1.25rem;
  }
}

.section--main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section .section__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section .section__content .section-description {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .section .section__content .section-description {
    margin-bottom: 48px;
  }
}
.section .section__content .align-to-bottom {
  margin-top: auto;
}
.section .section__image-container .section__image {
  max-height: 400px;
}

.section--fullwidth {
  padding: 32px 0;
}
@media only screen and (min-width: 768px) {
  .section--fullwidth {
    padding: 56px 0;
  }
}
@media only screen and (min-width: 768px) {
  .section--fullwidth {
    padding: 80px 0;
  }
}

.section--background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.section--background-image:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(244, 244, 244, 0.85);
}

.section--boxed {
  width: 100%;
  padding: 0px 24px;
}
@media only screen and (min-width: 768px) {
  .section--boxed {
    padding: 0px 48px;
  }
}
@media only screen and (min-width: 1440px) {
  .section--boxed {
    padding: 0px 160px;
  }
}

.section-separator {
  margin-bottom: 56px;
}
@media only screen and (min-width: 768px) {
  .section-separator {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1440px) {
  .section-separator {
    margin-bottom: 120px;
  }
}