extends includes/layouts/layout-normal.pug
block content
    +heroSlider().section-separator
    section.section--boxed.flexrow
        .col-50
            .text-block
                .h2-container
                    h2 About Indian Foodie
                p We are a passionate cuisine team establish in Madrid but distributed around world that search to bring you this magical combination of smells and flavors to your kitchen as well as showing you how you can use our wide variety of spices in different healthy delicious dishes.
        .col-50.show--desktop-up.align-to-right
            img(src="images/people01.png", alt="Indian Foodie Team").img--responsive

    section.section--boxed.flexrow.section-separator
        .col-100
            .text-block
                .h2-container
                    h2 Our Latest Recipes
                p 
                    span Don't miss out on these easy and delicious recipes prepared with fresh ingredients and the best spices found in our 
                    a(href="#").link spice market
                    span .
            +grid-4--card--basic()
            a(href="#").link.align-to-right.fullwidth Check more delicious recipes

    section.section.section-separator.section--fullwidth.section--background-image(style={'background-image': 'url("images/newsletter01.png")'})
        .section--boxed.flexrow
            .section__content.col-50.align-to-left
                h3 Join our newsletter
                p.section-description We know you love our products and recipes so don't miss the opportunity to subscribe to our newsletter and hearing from us a few times a week.
                .form-control.align-to-bottom
                    label.form-control__label Type your email below
                    input(type="text" placeholder="Your email here").form-control__input
                button.button.fullwidth Subscribe our Newsletter
            .section__image-container.col-50.show--desktop-up.align-to-center
                img(src="images/subscribe01.png").section__image
        
    section.section--boxed.flexrow.section-separator
        .col-50
            .text-block
                .h2-container
                    h2 Calories Comparison
                p Worried about the calories you eat? Every day our site offers you a caloric comparison of some selected recipes. 
                p This is our selection for today:
            h4.align-to-left.fullwidth Desserts
            +grid-3--card--vertical()
            h4.align-to-left.fullwidth Main Dishes
            +grid-3--card--vertical()
        .col-50.show--desktop-up.align-to-center
            img(src="images/banner-vertical.png", alt="Healty food banner").img--responsive