@use '../abstracts/variables';
@use '../abstracts/mixins';

.text-block {
    width: 100%;
    margin: 0px;
    margin-bottom: variables.$spacer-xl;

    @include mixins.media(tablet) {
        margin-bottom: variables.$spacer-3xl;
    }

    @include mixins.media(desktop-l) {
        margin-bottom: variables.$spacer-5xl;
    }
}