@use '../abstracts/variables';
@use '../abstracts/mixins';

button {
    cursor: pointer;
}

.button {
    background: variables.$color--third--light;
    border: 1px solid variables.$color--secondary;
    border-radius: variables.$spacer-xs;
    font-family: variables.$font--primary;
    font-size: mixins.calculateRem(14px);
    height: 40px;
    padding: 0px variables.$spacer-s;
    color: variables.$color--white;
    text-decoration: underline;
    @include mixins.transition();

    @include mixins.media(desktop) {
        font-size: mixins.calculateRem(18px);
        height: 48px;
    }

    &:hover, &:focus, &:active {
        background: variables.$color--primary;
    }
}