@use '../abstracts/variables';
@use '../abstracts/mixins';

.card {
    @include mixins.box();
    display: flex;
    flex-direction: row;
    .card-image {
        min-width: 120px;
        width: 30%;
        max-width: 240px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: - variables.$spacer-s;
        margin-bottom: - variables.$spacer-s;
        margin-left: - variables.$spacer-m;
        margin-right: variables.$spacer-m;
        border-radius: variables.$spacer-xs;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .card-content {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        .card-title-container {
            .card-title {
                position: relative;
                font-family: variables.$font--primary;
                font-size: mixins.calculateRem(16px);
                font-weight: 600;
                color: variables.$color--secondary--dark;
                padding-left: variables.$spacer-s;
                margin-bottom: variables.$spacer-xs;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 3px;
                    border-radius: variables.$spacer-l;
                    background: variables.$color--secondary;
                }
            }
        }
        .card-description {
            position: relative;
            font-family: variables.$font--primary;
            font-size: mixins.calculateRem(12px);
            font-weight: 400;
            color: variables.$color--dark;
            margin-bottom: variables.$spacer-xs;
            text-align: justify;
        }
        .link {
            &.link--card {
                position: relative;
                font-size: mixins.calculateRem(12px);
                font-weight: 600;
                margin-bottom: variables.$spacer-xs;
                margin-top: auto;
            }
        }
    }

    @include mixins.media(tablet) {
        .card-image {
            min-width: 156px;
            width: 30%;
            max-width: 240px;
        }
        .card-content {
            .card-title-container {
                .card-title {
                    font-size: mixins.calculateRem(18px);
                }
            }
            .card-description {
                font-size: mixins.calculateRem(14px);
            }
            .link {
                &.link--card {
                    font-size: mixins.calculateRem(14px);
                }
            }
        }
    }

    @include mixins.media(desktop-l) {
        .card-image {
            min-width: 180px;
            width: 30%;
            max-width: 240px;
        }
        .card-content {
            .card-title-container {
                .card-title {
                    font-size: mixins.calculateRem(24px);
                }
            }
            .card-description {
                font-size: mixins.calculateRem(16px);
            }
            .link {
                &.link--card {
                    font-size: mixins.calculateRem(16px);
                }
            }
        }
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mixins.media(desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 100%;
        margin: 0;
        margin-bottom: variables.$spacer-m;

        @include mixins.media(tablet) {
            margin-bottom: variables.$spacer-l;
        }

        @include mixins.media(desktop) {
            width: calc(50% - 32px);
            margin-left: variables.$spacer-l;
            margin-bottom: variables.$spacer-xl;

            &:nth-child(2n + 1) {
                margin-left: 0px;
            }
        }

        @include mixins.media(desktop-l) {
            margin-left: variables.$spacer-3xl;
            margin-bottom: variables.$spacer-3xl;
        }
    }
}

.card--vertical {
    @include mixins.box();
    display: flex;
    flex-direction: column;
    .card-image {
        height: 144px;
        width: calc(100% + 48px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: - variables.$spacer-s;
        margin-bottom: - variables.$spacer-s;
        margin-left: - variables.$spacer-m;
        margin-right: - variables.$spacer-m;
        border-radius: variables.$spacer-xs;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .card-content {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: - variables.$spacer-m;
        margin-bottom: 0px;
        border-radius: variables.$spacer-xs;
        background: variables.$color--white;
        padding: variables.$spacer-xs;
        text-align: center;
        flex: 1 0 auto;
        .card-title-container {
            .card-title {
                position: relative;
                font-family: variables.$font--primary;
                font-size: mixins.calculateRem(14px);
                font-weight: 600;
                color: variables.$color--dark;
                margin-bottom: variables.$spacer-xs;
                text-align: center;
            }
        }
        .link {
            &.link--card {
                position: relative;
                font-size: mixins.calculateRem(12px);
                font-weight: 600;
                margin-top: auto;
                text-align: center;
            }
        }
    }

    @include mixins.media(tablet) {
        .card-content {
            padding: variables.$spacer-s;
            .card-title-container {
                .card-title {
                    font-size: mixins.calculateRem(16px);
                }
            }
            .card-description {
                font-size: mixins.calculateRem(14px);
            }
            .link {
                &.link--card {
                    font-size: mixins.calculateRem(14px);
                }
            }
        }
    }

    @include mixins.media(desktop-l) {
        .card-content {
            padding: variables.$spacer-m;
            .card-title-container {
                .card-title {
                    font-size: mixins.calculateRem(20px);
                }
            }
            .card-description {
                font-size: mixins.calculateRem(16px);
            }
            .link {
                &.link--card {
                    font-size: mixins.calculateRem(16px);
                }
            }
        }
    }
}

.card-container--3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: variables.$spacer-s;

    @include mixins.media(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card--vertical {
        width: 100%;
        margin: 0;
        margin-bottom: variables.$spacer-m;

        @include mixins.media(tablet) {
            width: calc(33.33% - 24px);
            margin-left: variables.$spacer-m;
            margin-bottom: variables.$spacer-xl;

            &:nth-child(3n + 1) {
                margin-left: 0px;
            }
        }
    }
}