@use '../abstracts/variables';
@use '../abstracts/mixins';

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: variables.$spacer-m;
    width: 100%;
    .form-control__label {
        font-family: variables.$font--primary;
        font-size: mixins.calculateRem(14px);
        font-weight: 600;
        color: variables.$color--dark;
        margin-bottom: variables.$spacer-xxs;
    }
    .form-control__input {
        font-family: variables.$font--primary;
        font-size: mixins.calculateRem(14px);
        line-height: mixins.calculateRem(40px);
        border-radius: variables.$spacer-xs;
        border: 1px solid variables.$color--secondary--dark;
        background: variables.$color--white;
        height: variables.$spacer-xl;
        padding: variables.$spacer-xxs variables.$spacer-xs;
        width: 100%;
    }

    @include mixins.media(tablet) {
        margin-bottom: variables.$spacer-l;
        .form-control__label {
            font-size: mixins.calculateRem(16px);
            margin-bottom: variables.$spacer-xs;
        }
        .form-control__input {
            height: variables.$spacer-2xl;
            font-size: mixins.calculateRem(16px);
            line-height: mixins.calculateRem(48px);
            padding: variables.$spacer-xs variables.$spacer-s;
        }
    }

    @include mixins.media(desktop-l) {
        margin-bottom: variables.$spacer-xl;
        .form-control__label {
            font-size: mixins.calculateRem(20px);
        }
        .form-control__input {
            font-size: mixins.calculateRem(20px);
        }
    }
}