@use '../abstracts/variables';
@use '../abstracts/mixins';

.img--responsive {
    position: absolute;
    width: 90%;
    max-width: 90%;
    height: calc(100% - 96px);
    border-radius: variables.$spacer-s;
    object-fit: cover;
    margin: 0px auto;
}