@use '../abstracts/variables';
@use '../abstracts/mixins';

.label {
    position: relative;
    background: variables.$color--light;
    border: 1px solid variables.$color--secondary;
    border-radius: variables.$spacer-xs;
    padding: variables.$spacer-xxs variables.$spacer-xs;
    font-size: mixins.calculateRem(12px);
    font-weight: 600;
    color: variables.$color--secondary--dark;
    .label__icon {
        margin-right: variables.$spacer-xxs;
    }
    .label__text {}
}

.label-container {
    display: flex;
    flex-direction: row;
    margin-bottom: variables.$spacer-s;

    .label {
        margin-right: variables.$spacer-xs;

        &:last-of-type {
            margin-right: 0px;
        }
    }
}

.calorie-meter {
    font-family: variables.$font--primary;
    font-size: mixins.calculateRem(14px);
    font-weight: 800;
    color: variables.$color--primary;
    margin-bottom: variables.$spacer-s;
    .meter__icons {
        .meter__icon {
            margin-left: variables.$spacer-xxs;
            opacity: 0.5;
            &.meter__icon--on {
                opacity: 1;
            }
        }
    }

    @include mixins.media(tablet) {
        font-size: mixins.calculateRem(16px);
    }

    @include mixins.media(desktop-l) {
        font-size: mixins.calculateRem(20px);
    }

    &.meter--success {
        color: variables.$color--accent-02;
    }
    &.meter--warning {
        color: variables.$color--secondary;}
    &.meter--danger {
        color: variables.$color--third;
    }
}