@use '../abstracts/variables';
@use '../abstracts/mixins';


.hero-slider {
    width: 100%;
    position: relative;
    .slide {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 400px;
        max-height: 80vh;
        background-color: variables.$color--primary;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 16px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: variables.$spacer-m;
        padding-top: variables.$spacer-2xl;
        color: variables.$color--white;

        &.slide--02 {
            background-image: radial-gradient(
                circle at bottom left,
                variables.$color--primary 50%,
                rgba(variables.$color--primary, 0) 100%), url('../images/Banner02.png');
        }

        @include mixins.media(tablet) {
            padding: variables.$spacer-2xl;
            padding-top: variables.$spacer-4xl;
        }

        @include mixins.media(desktop) {
            padding-left: variables.$spacer-8xl;
            padding-right: variables.$spacer-8xl;
        }

        @include mixins.media(desktop-l) {
            padding: variables.$spacer-8xl;
            padding-top: variables.$spacer-7xl;
        }

        .slide__content-container {
            h1 {
                width: 180px;
                margin-bottom: variables.$spacer-xl;

                @include mixins.media(tablet) {
                    width: 250px;
                    margin-bottom: variables.$spacer-2xl;
                }
                @include mixins.media(desktop-l) {
                    width: 688px;
                    margin-bottom: variables.$spacer-5xl;
                }
            }
            p {
                color: variables.$color--white;
                width: 240px;
                margin-bottom: variables.$spacer-l;

                @include mixins.media(tablet) {
                    width: 320px;
                    margin-bottom: variables.$spacer-xl;
                }
                @include mixins.media(desktop-l) {
                    width: 440px;
                    margin-bottom: variables.$spacer-2xl;
                }
            }
            .button--slide {
                width: 240px;
                margin-bottom: variables.$spacer-4xl;

                @include mixins.media(tablet) {
                    width: 320px;
                    margin-bottom: variables.$spacer-6xl;
                }
                @include mixins.media(desktop-l) {
                    width: 440px;
                    margin-bottom: variables.$spacer-2xl;
                }
            }
        }
    }

    .slider-page-indicator {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translateX(-50%);

        @include mixins.media(tablet) {
            bottom: 48px;
        }

        @include mixins.media(desktop-l) {
            bottom: 48px;
        }

        .button--page-indicator {
            width: variables.$spacer-s;
            height: variables.$spacer-s;
            background: rgba(variables.$color--light, 0.2);
            border: 1px solid variables.$color--light;
            border-radius: 50%;
            margin: 0px;
            margin-right: variables.$spacer-xs;
            @include mixins.transition();
            &:hover, &:focus, &:active {
                background: variables.$color--secondary--dark;
                border: 1px solid variables.$color--secondary--light;
            }

            &:last-of-type {
                margin-right: 0px;
            }

            &.button--page-indicator--active {
                width: variables.$spacer-m;
                height: variables.$spacer-m;
                background: variables.$color--secondary--dark;
                border: 4px solid variables.$color--secondary--light;
            }
        }
    }
    .button--slider-arrow {
        display: none;
        background: rgba(variables.$color--light, 0.05);
        color: variables.$color--white;
        border: 1px solid variables.$color--light;
        border-radius: variables.$spacer-xs;
        position: absolute;
        width: variables.$spacer-2xl;
        height: variables.$spacer-5xl;
        left: variables.$spacer-xl;
        top: 50%;
        transform: translateY(-50%);
        font-size: mixins.calculateRem(24px);
        @include mixins.transition();
        &:hover, &:focus, &:active {
            background: variables.$color--light;
            color: variables.$color--primary;
        }

        &.button--slider-arrow--right {
            left: unset;
            right: variables.$spacer-xl;
        }

        @include mixins.media(desktop) {
            display: block;
        }
    }
}