@use '../abstracts/variables';
@use '../abstracts/mixins';

body {
    box-sizing: border-box;
    background: variables.$color--accent-01;
}

* {
    box-sizing: inherit;
}

.flexrow {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    
    .align-to-left {
        align-items: flex-start;
    }
    .align-to-right {
        align-items: flex-end;
    }
    .align-to-center {
        align-items: center;
    }
}

.col-100, .col-50 {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    padding: 0px variables.$spacer-m;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:first-of-type {
        padding-left: 0px;
    }
    &:last-of-type {
        padding-right: 0px;
    }
    .align-to-left {
        justify-content: flex-start;
    }
    .align-to-right {
        justify-content: flex-end;
    }
    .align-to-center {
        justify-content: center;
    }
}

.col-50 {
    width: 50%;
}

.show--desktop-up {
    display: none;

    @include mixins.media(desktop) {
        display: flex;
    }
}
.fullwidth {
    width: 100%;
}