@use '../abstracts/variables';
@use '../abstracts/mixins';

h1 {
    @include mixins.textsize(title__large);
}

h2 {
    @include mixins.textsize(title__medium);
}

h3 {
    @include mixins.textsize(title__small);
}

h4 {
    @include mixins.textsize(title__xs);
}

p, .text--normal {
    @include mixins.textsize(text__normal);
}

.link {
    @include mixins.textsize(link__normal);
}

.h2-container {
    max-width: 100%;
    margin: 0px;
    margin-bottom: variables.$spacer-m;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mixins.media(tablet) {
        margin-bottom: variables.$spacer-l;
    }
    @include mixins.media(desktop-l) {
        margin-bottom: variables.$spacer-xl;
    }

    &:before,
    &:after {
      content: "";
      height: 2px;
      width: 100%;
      left: 0px;
      top: calc(50% - 1px);
      border-radius: variables.$spacer-xs;
      background-color: variables.$color--primary;
    }
}