@use '../abstracts/variables';
@use '../abstracts/mixins';

.section--main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    .section__content {
        justify-content: space-between;
        .section-description {
            margin-bottom: variables.$spacer-xl;

            @include mixins.media(tablet) {
                margin-bottom: variables.$spacer-2xl;
            }
        }
        .align-to-bottom {
            margin-top: auto;
        }
    }
    .section__image-container {
        .section__image {
            max-height: 400px;
        }
    }
}

.section--fullwidth {
    padding: variables.$spacer-l 0;

    @include mixins.media(tablet) {
        padding: variables.$spacer-3xl 0;
    }

    @include mixins.media(tablet) {
        padding: variables.$spacer-5xl 0;
    }
}
.section--background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(variables.$color--light, 85%);
    }
}

.section--boxed {
    width: 100%;
    padding: 0px variables.$spacer-m;

    @include mixins.media(tablet) {
        padding: 0px variables.$spacer-2xl;
    }

    @include mixins.media(desktop-l) {
        padding: 0px variables.$spacer-8xl;
    }
}

.section-separator {
    margin-bottom: variables.$spacer-3xl;

    @include mixins.media(tablet) {
        margin-bottom: variables.$spacer-5xl;
    }

    @include mixins.media(desktop-l) {
        margin-bottom: variables.$spacer-7xl;
    }
}