@use 'variables';

// ::::::::::: Media Queries Mixin :::::::::::

@mixin media ($breakpoint) {  

  @if $breakpoint == tablet {  
    @media only screen and (min-width: 768px) { @content; }  
  }  
  
  @else if $breakpoint == desktop-s {  
    @media only screen and (min-width: 1280px) { @content; }  
  } 
  
  @else if $breakpoint == desktop {  
    @media only screen and (min-width: 1360px) { @content; }  
  } 
  
  @else if $breakpoint == desktop-l {  
    @media only screen and (min-width: 1440px) { @content; }  
  } 
  
  @else if $breakpoint == desktop-xl {  
    @media only screen and (min-width: 1780px) { @content; }  
  } 

  @else if $breakpoint == mobile-only {  
    @media only screen and (max-width: 768px) { @content; }  
  }

  @else if $breakpoint == tablet-p-only {  
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation : portrait) { @content; }  
  }  
  
  @else if $breakpoint == tablet-l-only {  
    @media only screen and (min-width: 768px) and (max-width: 992px) and (orientation : landscape) { @content; }  
  } 
  
  @else if $breakpoint == desktop-s-only {  
    @media only screen and (min-width: 768px) and (max-width: 1200px) { @content; }  
  } 
  
  @else if $breakpoint == desktop-m-only {  
    @media only screen and (min-width: 1200px) and (max-width: 1480px) { @content; }  
  } 
}

// ::::::::::: Typography Mixin :::::::::::

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin textsize ($value) { 
  //**** Link
  @if $value == link__normal {
    font-family: variables.$font--primary;
    font-weight: 500;
    font-size: calculateRem(16px);
    text-decoration: underline;
    color: variables.$color--third;
    display: inline-flex;

    @include media(tablet) {
      font-size: calculateRem(20px);
    }

    @include media(desktop-l) {
      font-size: calculateRem(24px);
    }
  }
  //**** Normal text
  @else if $value == text__normal {
    font-family: variables.$font--primary;
    font-weight: 500;
    font-size: calculateRem(16px);
    color: variables.$color--dark;
    text-align: justify;

    @include media(tablet) {
      font-size: calculateRem(20px);
    }

    @include media(desktop-l) {
      font-size: calculateRem(24px);
    }
  }
  //**** Title Large
  @else if $value == title__large {
    font-family: variables.$font--secondary;
    font-weight: 800;
    font-size: calculateRem(40px);
    line-height: calculateRem(44px);
    letter-spacing: -2px;
    color: variables.$color--secondary--light;
    text-align: left;

    @include media(tablet) {
      font-size: calculateRem(48px);
      line-height: calculateRem(56px);
      letter-spacing: -1.2px;
    }

    @include media(desktop-l) {
      font-size: calculateRem(92px);
      line-height: calculateRem(104px);
      letter-spacing: -6px;
    }
  }
  //**** Title Medium
  @else if $value == title__medium {
    position: relative;
    display: inline-flex;
    font-family: variables.$font--secondary;
    font-weight: 800;
    font-size: calculateRem(28px);
    line-height: calculateRem(38px);
    letter-spacing: -0.5px;
    padding: 0px variables.$spacer-xs;
    color: variables.$color--primary;
    text-align: center;
    flex: 1 0 auto;

    @include media(tablet) {
      font-size: calculateRem(34px);
      line-height: calculateRem(44px);
      letter-spacing: -1px;
      padding: 0px variables.$spacer-s;
    }

    @include media(desktop-l) {
      font-size: calculateRem(48px);
      line-height: calculateRem(64px);
      letter-spacing: -1.5px;
    }
  }
  //**** Title Small
  @else if $value == title__small {
    position: relative;
    display: inline-flex;
    font-family: variables.$font--primary;
    font-weight: 600;
    font-size: calculateRem(20px);
    line-height: calculateRem(24px);
    text-transform: uppercase;
    letter-spacing: auto;
    padding: 0px;
    padding-left: variables.$spacer-s;
    color: variables.$color--primary;
    text-align: left;
    margin-bottom: variables.$spacer-m;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 3px;
        border-radius: variables.$spacer-2xl;
        background: variables.$color--primary--light;
    }

    @include media(tablet) {
      font-size: calculateRem(24px);
      line-height: calculateRem(30px);
      padding-left: variables.$spacer-s;
      margin-bottom: variables.$spacer-l;
    }

    @include media(desktop-l) {
      font-size: calculateRem(32px);
      line-height: calculateRem(40px);
      padding-left: variables.$spacer-m;
      margin-bottom: variables.$spacer-l;
      &::before {
        width: 4px;
      }
    }
  }
  //**** Title Extra Small
  @else if $value == title__xs {
    position: relative;
    display: inline-flex;
    font-family: variables.$font--primary;
    font-weight: 600;
    font-size: calculateRem(16px);
    line-height: calculateRem(20px);
    text-transform: uppercase;
    letter-spacing: auto;
    padding: 0px;
    padding-left: variables.$spacer-s;
    color: variables.$color--primary;
    text-align: left;
    margin-bottom: variables.$spacer-m;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 3px;
        border-radius: variables.$spacer-2xl;
        background: variables.$color--primary--light;
    }

    @include media(tablet) {
      font-size: calculateRem(20px);
      line-height: calculateRem(24px);
      padding-left: variables.$spacer-s;
      margin-bottom: variables.$spacer-m;
    }

    @include media(desktop-l) {
      font-size: calculateRem(24px);
      line-height: calculateRem(30px);
      padding-left: variables.$spacer-m;
      margin-bottom: variables.$spacer-l;
      &::before {
        width: 4px;
      }
    }
  }
}

// ::::::::::: Box Mixin :::::::::::

@mixin box {
  background-color: variables.$color--white;
  border-radius: variables.$spacer-xs;
  padding: variables.$spacer-s variables.$spacer-m;
	box-shadow: 2px 2px 0px 0px rgba($color: variables.$color--primary, $alpha: 0.2), 
              -6px -6px 12px 0px rgba($color: variables.$color--primary, $alpha: 0.05);
}

// ::::::::::: Transition Mixin :::::::::::

@mixin transition {
	transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}


