// ::::::::::: Typography :::::::::::
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

$font--primary: 'Montserrat', "Helvetica Neue", Arial, sans-serif;
$font--secondary: 'Merienda', sans-serif;


// ::::::::::: Site Brand :::::::::::

$color--primary: #272D50;
$color--secondary: #CC9D00;
$color--third: #7B172A;


// ::::::::::: Accents :::::::::::

$color--accent-01: #E8E8E8;
$color--accent-02: #55A876;

$color--dark: #2A292E;
$color--light: #F4F4F4;

$color--white: #FFF;
$color--black: darken($color--dark, 10%);


// ::::::::::: Color Variations :::::::::::

$color--primary--dark: darken($color--primary, 8%);
$color--primary--light: lighten($color--primary, 8%);

$color--secondary--dark: darken($color--secondary, 8%);
$color--secondary--light: lighten($color--secondary, 8%);

$color--third--dark: darken($color--third, 8%);
$color--third--light: lighten($color--third, 8%);
$color--secondary--light: lighten($color--secondary, 8%);

$color--accent-02--dark: darken($color--accent-02, 8%);
$color--accent-02--light: lighten($color--accent-02, 8%);


// ::::::::::: Space :::::::::::

$spacer-xxs: 4px;
$spacer-xs: 8px;
$spacer-s: 16px;
$spacer-m: 24px;
$spacer-l: 32px;
$spacer-xl: 40px;
$spacer-2xl: 48px;
$spacer-3xl: 56px;
$spacer-4xl: 64px;
$spacer-5xl: 80px;
$spacer-6xl: 96px;
$spacer-7xl: 120px;
$spacer-8xl: 160px;